html {
  height: 1500px;
position: relative;
}

    body {
  background: linear-gradient(180deg, rgba(255,121,121,1) 0%, rgba(214,206,206,1) 100%); background-repeat: no-repeat;
  background-size: 100% 100%;
height: 100%;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    }
    h1 {
      position: relative;
      margin: 0 auto;
      top: 3rem;
      font-family: 'Pacifico', sans-serif;
    }

    .lead {
      position: relative;
      margin: 0 auto;
      top: 4.75rem;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.5rem;

    }

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

ul {

  text-align: center;
}

.cover-container {
  max-width: 42em;
}

.navbar-brand {
  font-family: 'Norican', sans-serif;
  font-size: 2rem;
  letter-spacing: .5rem;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.btn-outline-success {
  margin: 0 auto;
  position: relative;
  left: .4rem;
}

.menu-container {
  position: relative;
  top: 4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(0,61,165);
  padding: 10px;
  
 
}
.menu-item {
  width: 100%;
  background-size: -10%;
  background-color: rgb(243,243,243);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center; 
  
}
.py-5 .text-center {
    top: 2rem;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.text-muted h3 {
  right: 2.6rem;
  position: relative;
  margin: 0 auto;

}

.mb-1 {
  bottom: -31rem;
  position: relative;
  margin: 0 auto;
  text-align: center;
  color:  rgba(255,121,121,1);
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  
      }

